<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IRegisterService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILoginService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/ChatService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRegisterService" contract="ChessService.IRegisterService"
                name="NetTcpBinding_IRegisterService">
                <identity>
                    <userPrincipalName value="DESKTOP-RGC3AGN\danie" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/ChatService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILoginService" contract="ChessService.ILoginService"
                name="NetTcpBinding_ILoginService">
                <identity>
                    <userPrincipalName value="DESKTOP-RGC3AGN\danie" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>